body {
 font-family: "OpenSans", "Arial", sans-serif;
 color: rgb(0, 0, 0);
 font-size: 15px;
}

/*
* {
outline: 1px solid blue;
}
*/
 a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

ul {
  list-style: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
 position: absolute;
 width: 1px;
 height: 1px;
 margin: -1px;
 border: 0;
 padding: 0;
 white-space: nowrap;
 clip-path: inset(100%);
 clip: rect(0 0 0 0);
 overflow: hidden;
}

/*------------Начало стилей шапки-----------*/

.search {
  width: 540px;
 font-size: 15px;
  font-weight: lighter;
  font-family: "Open Sans", "Arial", sans-serif;
}


.main-navigation {
  background-color: rgb(248, 226, 150);
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content:center;
  width: 1040px;
  margin: 40px auto 0 auto;
  padding: 60px;
}

.middle-nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 30px;
}

.main-header-logo {
      display: block;
      margin-top: -80px;
      width: 170px;
}

.login-icon-link {
  background-image: url(../img/user.svg);
  background-repeat: no-repeat;
}

.profile-header {
  color: rgb(0, 0, 0)
}

.login-icon-link:hover,
.login-link-off:hover,
.compare:hover,
.cart:hover {
  opacity: 0.6;
}

.login-icon-link:active,
.login-link-off:active,
.compare:active,
.cart:active {
  opacity: 0.3;
}

.compare-icon {
  padding-left: 20px;
  background-image: url(../img/compare.svg);
  background-repeat: no-repeat;
}

.cart-icon {
      padding-left: 20px;
  background: url(../img/cart.svg);
  background-repeat: no-repeat;
}

.login-link { /* временно */
margin-right: 250px;
padding-left: 20px;
}

.cart {

}

.compare {
  margin-right: 70px;
}

/*----------- Конец стилей шапки-----------*/

 .site-navigation {
  display: flex;
  justify-content: space-between;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: bolder;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  letter-spacing: 5px;
  padding: 0;
}

.slide{
display: none;
}

.slide-active {
display: flex;
justify-content: space-between;
width: 1160px;
margin: 0 auto 0 auto;
}

.slide-active-info {
  width: 50%;
}

.device-catalog {

}

.li-1 {
  width: 493px;
}

.device-catalog:hover {
  color: rgba(0, 0, 0, 0.6);
}

.device-catalog:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation .inner-list {
  display: none;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 36px;
  font-weight: lighter;
  text-transform: none;
  letter-spacing: normal;
}

.inner-list .inner-list-items:hover {
  color: rgba(0, 0, 0, 0.6);
}

.inner-list .inner-list-items:active {
  color: rgba(0, 0, 0, 0.3);
}

h3 {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  line-height: 56px;
  font-weight: bolder;
  color: rgb(0, 0, 0);
}

table th {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 36px;
  line-height: 48px;
  font-weight: normal;
}

.button {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.price {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: lighter;
  text-transform: none;
  letter-spacing: normal;
}

.add-on-compare {
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 36px;
  font-weight: lighter;
  text-transform: none;
  letter-spacing: normal;
}

dt {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.product-category {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 100px;
  margin-right: auto;
  margin-bottom: 40px;
  margin-left: auto;
  width: 1160px;
}

.product-category,
.catalog-item-h3 {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.service {
  background-color: rgb(229, 229, 229);
}

.service-wrapper {
  justify-content: space-between;
  display: flex;
  width: 1160px;
  margin: 0 auto 0 auto;
  padding: 100px 0;
}


.list {
display: none;
}

.list-active-left {
display: flex;
flex-direction: column;
width: 300px;
}

.list-active-right {
display: flex;
flex-direction: column;
justify-content: flex-start;
}

.h3-delivery {
margin-top: -30px
}

.paragraph-delivery {
width: 400px;
}

.service-image-1 {
  background-image: url(../img/delivery.svg);
  background-repeat: no-repeat;
  background-position: right;
  margin-top: -115px;
  width: 136px;
  height: 164px;
}

div.service-image-2 {
background-image: url(../img/warranty.svg);
background-repeat: no-repeat;
width: 171px;
height: 195px;
}

div.service-image-3 {
background-image: url(../img/credit.svg);
background-repeat: no-repeat;
width: 156px;
height: 188px;
}

.company-brand {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 70px;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  width: 1160px;
}

.brend-hover {
  display: none;
}

.info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1160px;
  margin: 0 auto 0 auto;
}

.info-about-us {
width: 50%;
}

.info-contacts {
  width: 50%;
}

.footer-wrapper {
  width: 1160px;
  margin: 0 auto 0 auto;
}

.main-footer {
  display: flex;
  flex-direction: column;
  background-color: rgb(70, 70, 70);
  color: rgb(255, 255, 255);
}

.top-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 65px;
  margin-bottom: 40px;
}

.top-footer .main-logo-footer {
  margin-right: 50%;
}

.middle-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.bottom-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom-footer::before {
  content: "";
  width: 80px;
  height: 7px;
  background-color: rgb(253, 201, 0);
}

.list-inline-footer {
  display: flex;
  width:  400px;
  justify-content: space-between;
  align-items: center;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  padding: 0;
}

.social {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  padding: 0;
}

.login-footer-bg {
  background-image: url(../img/user.svg);
  background-repeat: no-repeat;
  color: rgb(255, 255, 255);
}

.compare-footer-bg {
  background-image: url(../img/compare.svg);
  background-repeat: no-repeat;
  color: rgb(255, 255, 255);
}

.cart-footer-bg {
  background-image: url(../img/cart.svg);
  background-repeat: no-repeat;
  color: rgb(255, 255, 255);
}

.login-link-footer,
.compare-footer,
.cart-footer {
 padding-left: 20px;
 margin-left: 5px;
}

.list-inline-footer .site-navigation-footer-items,
.social .social-button,
.profile,
.login-link-footer,
.compare-footer,
.cart-footer {
  color: rgb(255, 255, 255);
}

/*-----------Страница каталог начало---------------*/
.monopods-h1-wrapper {
  width: 1040px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 60px;
}

.monopods-h1 {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 700;
}

.breadcrumbs {
  display: flex;
  padding: 0;
}

.main-catalog {
  display: flex;
}

.wrapper-filter {
  display: flex;
  justify-content: flex-end;
  width: calc(50% - 230px);
  min-width: 320px;
  background-color: rgb(239, 239, 239);
}

.filter {
  width: 260px;
}

.wrapper-sorting {
  width: calc(50% + 320px);
}

.wrapper-bg-sorting {
  background-color: rgb(239, 239, 239);
}

.wrapper-sorting-elements {
  display: flex;
  justify-content: space-between;
  width: 840px;
}

.sorting-menu {
  display: flex;
  padding: 0;
}

.expand {
  display: flex;
  padding: 0;
}

.catalog-list-wrapper {
  width: 840px;
}

.catalog-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  margin-top: 60px;
  margin-left: 60px;
}

.catalog-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}

.number-list {
  display: flex;
  padding: 20px;
}

.control-page-wrapper {
  display: flex;
  width: 840px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
  background-color: rgb(239, 239, 239);
}

.buttons-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*-----------Страница каталог конец---------------*/

/* ------------Модалки------------ */
.modal-window {
  display: none;
}

.modal-map {
  display: none;
}
