body {
 font-family: "OpenSans", "Arial", sans-serif;
 color: rgb(0, 0, 0);
 font-size: 15px;
}

body a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

ul {
  list-style: none;
}

li a {
  color: rgb(0, 0, 0);
}

.search {
 font-size: 15px;
  font-weight: lighter;
  font-family: "Open Sans", "Arial", sans-serif;
}

.main-navigation {
  background-color: rgb(248, 226, 150);
}

.login-icon-link {
  background-image: url(../img/user.svg);
  background-repeat: no-repeat;
}

.profile-header {
  color: rgb(0, 0, 0)
}

.login-icon-link:hover,
.login-link-off:hover,
.compare:hover,
.cart:hover {
  opacity: 0.6;
}

.login-icon-link:active,
.login-link-off:active,
.compare:active,
.cart:active {
  opacity: 0.3;
}

.compare-icon {
  background-image: url(../img/compare.svg);
  background-repeat: no-repeat;
}

.cart-icon {
  background: url(../img/cart.svg);
  background-repeat: no-repeat;
}

.login-link, .compare, .cart { /* временно */
  margin-left: 40px;
}

 .site-navigation {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: bolder;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  letter-spacing: 5px;
}

.device-catalog:hover {
  color: rgba(0, 0, 0, 0.6);
}

.device-catalog:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation .inner-list {
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 36px;
  font-weight: lighter;
  text-transform: none;
  letter-spacing: normal;
}

.inner-list .inner-list-items:hover {
  color: rgba(0, 0, 0, 0.6);
}

.inner-list .inner-list-items:active {
  color: rgba(0, 0, 0, 0.3);
}

h3 {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  line-height: 56px;
  font-weight: bolder;
  color: rgb(0, 0, 0);
}

table th {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 36px;
  line-height: 48px;
  font-weight: normal;
}

.button {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.price {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: lighter;
  text-transform: none;
  letter-spacing: normal;
}

.add-on-compare {
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 36px;
  font-weight: lighter;
  text-transform: none;
  letter-spacing: normal;
}

dt {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.product-category,
.catalog-item-h3 {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.service {
  background-color: rgb(229, 229, 229);
}

div.service-image-1 {
background-image: url(../img/delivery.svg);
background-repeat: no-repeat;
width: 136px;
height: 164px;
}

div.service-image-2 {
background-image: url(../img/warranty.svg);
background-repeat: no-repeat;
width: 171px;
height: 195px;
}

div.service-image-3 {
background-image: url(../img/credit.svg);
background-repeat: no-repeat;
width: 156px;
height: 188px;
}

.main-footer {
  background-color: rgb(70, 70, 70);
  color: rgb(255, 255, 255);
}

.login-footer-bg {
  background-image: url(../img/user.svg);
  background-repeat: no-repeat;
  color: rgb(255, 255, 255);
}

.compare-footer-bg {
  background-image: url(../img/compare.svg);
  background-repeat: no-repeat;
  color: rgb(255, 255, 255);
}

.cart-footer-bg {
  background-image: url(../img/cart.svg);
  background-repeat: no-repeat;
  color: rgb(255, 255, 255);
}

.login-link-footer,
.compare-footer,
.cart-footer {
 padding-left: 20px;
 margin-left: 5px;
}

.site-navigation-footer .site-navigation-footer-items,
.social .social-button,
.profile,
.login-link-footer,
.compare-footer,
.cart-footer {
  color: rgb(255, 255, 255);
}

/* Модалки */
.modal-window {
  display: none;
}

.modal-map {
  display: none;
}
